* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "SF Pro", "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url(<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
  rel="stylesheet">);
     }

body {
  background-color: #dadada;
  overflow: scroll
  font-family: "system";
  font-style: normal;

}

.phone {
  width: 400px;
  margin: auto;
}

.status {
  height: 20px;
  margin-bottom: 0.5px solid #cdced2;
  background-image: url("../image/Base.png");
  border-bottom: 1px solid #cdced2;
  background-color: #fff;
}

.nav-container {
  display: flex;
  background-color: #fff;
  height: 40px;
  justify-content: flex-start;
  align-items: center;

}

.nav {
  width: 255px;
  display: flex;
  justify-content: space-between;
  padding-left: 5px;
}

.nav i {
  color: #C274C2;
  height: 21px;
  width: 15px;
}

.current-stop {
  color: #000;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
}

.map {
  height: 132px;
  background-image: url("../image/mapview.png");
  background-size: cover;
}

.tab-bar-container {
  height: 52px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #cdced2;
}

.tab {
  width: 176px;
  height: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #C274C2;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.00615385em;
}

.first-item {
  background-color: #C274C2;
}

.tab-item-1 {
  color: #FFFFFF;
}

.tab-item-2 {
  color: #C274C2;
}

.line {
  background-color: #fff;
  font-family: SF Pro Text;
  font-size: 18px
  font-weight: bold;
  line-height: 21px;
  letter-spacing: -0.016em;
  padding-left: 10px;
  padding-top: 10px;
}

.bus-info-container {
  background-color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-around;

}

.with-border {
  border-bottom:1px solid #cdced2;
}

.bus-menu {
  display: flex;
  width: 350px;
  flex: 1;
}

.bus-number  {
  width: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.current-view {
  margin-top: 10px;
  height: 25px;
  background: #C274C2;
  border: 3px solid #C274C2;
  border-radius: 9px;
}

.line-info {
  padding-top: 10px;
  padding-left: 10px;
  width: 200px
}

.bus-number,
.line-info {
  flex: initial;
}
.destination {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.0175em;
  padding-bottom: 10px;
}

.frequency {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.0175em;
  color: rgba(0, 0, 0, 0.8);
}

.time {
  display: flex;
  justify-content: center;
  width: 100px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.0175em;
  align-items: center;
}

.current {
  padding-left: 10px;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.0175em;
}

.getting-serviced {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.0175em;
}
